<div *ngIf="items$ | async as items; else loader">
  <table class="highlight" *ngIf="items.length !== 0; else empty">
    <thead>
    <tr>
      <th>Название</th>
      <th>Стоимость</th>
      <th>Количество</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td>{{item.cost}} руб.</td>
      <td>
        <div class="input-field inline order-position-input">
          <input type="number" min="1" [(ngModel)]="item.quantity">
        </div>
      </td>
      <td>
        <button
          (click)="add(item)"
          [disabled]="!item.quantity"
          class="btn waves-effect wavers-light btn-small"
        >Добавить
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #empty>
    <div class="center">Позиций пока нет</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
